[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Live-usb maker
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[it]=
Name[ja]=
Name[nl]=
Name[ro]=
Name[ru]=
Name[sv]=
Comment=Create full featured live-usb
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[ro]=
Comment[ru]=
Comment[sv]=
Icon=drive-removable-media-usb
Type=Application
Terminal=true
Exec=sudo /usr/local/bin/live-usb-maker --pause
Categories=ConsoleOnly;System;MX-Live;
