[Desktop Entry]
Name=Live-usb maker
Name[ca]=
Name[de]=live-USB maker
Name[el]=Live-usb maker
Name[es]=
Name[fr]=Constructeur de live-usb
Name[it]=
Name[ja]=
Name[nl]=Live-usb maker
Name[ro]=
Name[ru]=Создание Live-usb
Name[sv]=Live-usb maker
Comment=Create a full-featured live-usb
Comment[ca]=
Comment[de]=live-USB Installation in Vollfunktion
Comment[el]=Δημιουργία ενός πλήρως εξοπλισμένο live-usb
Comment[es]=
Comment[fr]=Construire un live-usb complet
Comment[it]=
Comment[ja]=
Comment[nl]=Creëer een volledig uitgeruste live-usb
Comment[ro]=
Comment[ru]=
Comment[sv]=Skapa en live-usb med alla möjligheter
Icon=drive-removable-media-usb
Type=Application
Terminal=true
Exec=sudo /usr/local/bin/live-usb-maker --pause
Categories=ConsoleOnly;System;MX-Live;
